{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_order') }}" method="POST"
        class="add-entry">
            <p>Topping:
            <select name="topping">
                {% for topping in toppings %}
                    <option value="{{ topping.id }}">
                        {{ topping.name }}
                    </option>
                {% endfor %}
            </select>
            <p>Size:
            <select name="size">
                {% for size in sizes %}
                    <option value="{{ size.id }}">
                        {{ size.name }}
                    </option>
                {% endfor %}
            </select>
            <p><input type=submit value="Place order"></p>
    </form>
     {% endif %}
    <ul class=orders>
        {% for order in orders %}
            <li><h2>{{ order.topping|safe }}</h2>
                {{ order.size|safe }} | {{ order.created_at }}
                <sup>[<a href='{{ url_for('cancel_order', id=order.id) }}'>cancel</a>]</sup>
        {% else %}
            <li><em>Unbelievable. No orders here so far</em>
        {% endfor %}
    </ul>
{% endblock %}